<!DOCTYPE html>
<html>
 {% include header.html %}
 <body>
  {% include title.html %}
  {% include nav.html %}
  {% include breaker.html %}
  <h2 class="pageHeading">{{ page.title }}</h2>
  {% include breaker.html %}
  {% for item in site.data.downloads %}
   <div class="downloads">
    <p class="dlTitle">{{ item.name }}</p>
    <button class="download" onclick="window.location.href='{{ item.url }}'">{{ site.downloadButtonText }}</button>
   </div>
   {% include breaker.html %}
  {% endfor %}
 </body>
 {% include javascript.html %}
</html>
